.todo {
    &-item {
        border-radius: 0.5rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        padding: 0.5rem;
        background-color: rgb(226, 226, 226);
        transition: all 0.5s;
        & span,
        &__input {
            max-height: 2.5rem;
            overflow: hidden;
            overflow-wrap: break-word;
            width: 100%;
        }
        &.completed {
            background-color: rgb(174, 229, 243);
        }
    }
}
.btns-container {
    display: flex;
    gap: 0.5rem;
}
.edit-btn {
    background-color: #0075ff;
}
.delete-btn {
    background-color: rgb(250, 146, 146);
}
.edit-btn svg,
.delete-btn svg {
    width: 50%;
    height: 50%;
}
